.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.dev-mode-toggle{
  text-align: center;
  margin-bottom: 10px;
}

.chatbox{
  width: 60%;
  height: 70%;
  border: 1px solid #ddd;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}

.messages{
  flex-grow: 1;
  overflow-y: auto;
  padding: 5px;
}

.message{
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
}

.message.user{
  background-color: white;
  align-self: flex-end;
}

.message.ai {
  background-color: white;
  align-self: flex-start;
}

.profile-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.input-area{
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.input-area input{
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 10px;
}

.input-area button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

